/* p {
    background-color: orange;
    color: black;
}; */


/* .second{
    height: 150px;
    width: 100px;
    background-color: aqua;
    color: brown;
    border: 1px solid black;
    padding: 8rem;
    margin: 95px;
}; */


/* .third{
    height: 150px;
    width: 100px;
    border: 1px solid green;
    padding: 3.5rem;
    background-color: lime;
    color: white;
    
}; */

/* .fourth{
    height: 150px;
    width: 100px;
    border: 2px solid black;
    margin: 0rem;
    padding: 4rem;
    background-color: brown;
    color: white;
}; */

/* .fifth{
    height: 150px;
    width: 100px;
    border: 2px solid black;
    margin: 0rem;
    padding: 1opx;
    background-color: brown;
    color: white;
}; */