/* p {
    background-color: orange;
    color: black;
}; */


/* .second{
    height: 150px;
    width: 100px;
    background-color: aqua;
    color: brown;
    border: 1px solid black;
    padding: 8rem;
    margin: 95px;
} */
